.message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20em;
    height: 100svh;
    margin: auto;
    padding: 0 2em;
    text-align: center;
    color: white;
}

.message h2{
    font-size: 4em;
    color: rgb(50, 250, 220);
}

.message h1{
    font-size: 3em;
    margin-bottom: 1em;
}

.message p{
    font-size: 1.5em;
    max-width: 35em;
}