main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#presentation{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70em;
    max-width: calc(100vw - 8em);
    height: 100svh;
    min-height: 40em;
    padding: 0;
    opacity: 0;
    animation: appear-from-bottom 1.5s forwards .5s;
}

#presentation img{
    position: absolute;
    right: 0;
    margin-bottom: -8em;
    width: 25em;
    opacity: .3;
    z-index: -1;
}

.before-name{
    margin-bottom: 1em;
    color: rgb(50, 250, 220);
}

#presentation h1{
    font-size: 4em;
    color: white;
}

#presentation h2{
    margin-bottom: 1em;
    font-size: 2.5em;
    color: rgb(120, 130, 150);
}

.self-preview{
    color: rgb(120, 130, 150);
}

.arrow-next{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 6em;
    width: 2.2em;
    height: 2.2em;
    margin: 0 auto;
    border: white .2em solid;
    border-radius: 100vw;
    opacity: .5;
    transition: border-color .2s, opacity .2s, transform .2s;
}

.arrow-next svg{
    width: 1.5em;
    height: 1.5em;
    fill: white;
    transform: rotate(180deg);
    transition: fill .2s;
}

.arrow-next:hover{
    border-color: rgb(50, 250, 220);
    opacity: 1;
    transform: scale(120%)
}

.arrow-next:hover svg{
    fill: rgb(50, 250, 220);
}

.section-title{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2em;
    color: white;
    text-align: center;
    white-space: nowrap;
}

.section-title::before, .section-title::after{
    content: "";
    position: relative;
    width: 20vw;
    height: .15em;
    opacity: .3;
    border-radius: 100vw;
    background-color: white;
}

.section-title::before{
    right: 1em;
}

.section-title::after{
    left: 1em;
}

@media screen and (max-width: 720px) {
    #presentation{
        font-size: 1.5em;
        min-height: 60em;
    }

    #presentation p{
        font-size: 1.4em;
    }

    #presentation img{
        transform: translateY(-2em);
        left: 5em;
    }

    .arrow-next{
        font-size: 1.4em;
        top: 2em;
    }
}

@keyframes appear-from-bottom {
    from{
        transform: translateY(10em);
        opacity: 0;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}